<ion-content >
  <form [formGroup]="addDepartmentForm" (submit)="addDepartment()">
    <ion-label  position="floating">Department code</ion-label>
    <ion-input formControlName="code"></ion-input>

    <ion-label position="floating">Department name</ion-label>
    <ion-input formControlName="name"></ion-input>

    <ion-button expand="full" type="submit" [disabled]="addDepartmentForm.invalid">Add department</ion-button>
  </form>
  <ion-button expand="full" color="warning" (click)="dismiss()">Close</ion-button>
</ion-content>

