<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-float-left">Search for a department</ion-title>
    <ion-button class="ion-float-right ion-padding-horizontal" fill="outline" size="small" (click)="openAddDepartmentForm()">Add Department</ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-grid id="grid">
    <ion-row>
      <ion-col>Id</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Code</ion-col>
      <ion-col>Edit</ion-col>
      <ion-col>Delete</ion-col>
    </ion-row>
    <ion-row *ngFor="let department of departments">
      <ion-col>{{department.id}}</ion-col>
      <ion-col>{{department.name}}</ion-col>
      <ion-col>{{department.code}}</ion-col>
      <ion-col><ion-button color="primary" (click)="openEditDepartmentForm(department)">Edit</ion-button></ion-col>
      <ion-col><ion-button color="danger" (click)="openDeleteDepartmentPopup(department.id!)">Delete</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
